@charset "UTF-8";
body {
	padding: 0;
	left: 15px;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
	float: right;
}
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	width: 1000px;
	background-color: #FDFDFD;
	margin: 0 auto; 
	height: 700px;
	color: #010101;
	position: relative;
	border-collapse: collapse;
	border: thin solid #DAD9D9;
}

header {
	background-color: #ADB96E;
	color: #000000;
}





#header {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 126px;
	color: #000000;
}
#logo {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: italic;
	color: #000000;
	width: 1000px;
	height: 80px;
	text-align: center;
	clear: both;
	list-style-position: inside;
	padding-left: 15px;
	float: left;
	left: 15px;
}
#date {
	color: #555353;
	width: 300px;
	height: 50px;
	float: left;
	clear: right;
	text-align: left;
	padding-left: 20px;
}
#twitter {
	width: 350px;
	float: right;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 10px;
	height: 200px;
	position: relative;
	top: 0px;
	max-height: 250px;
}
.contentbox {
	color: #FFF;
	margin-top: 40px;
	width: 100%;
}

.pagecontent {
	color: #FFF;
	width: 100%;
	float: right;
	border-left: 1px dashed #999999;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}


#CompanyName {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: italic;
	color: #226818;
	/* [disabled]clear: none; */
	border-top-style: none;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
}

#CompanyContent {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 14px;
	color: #040404;
	height: 400px;
	clear: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
}
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    
/* Form wrapper styling */

/* Form text input */
 
#searchboxcontent {
    width: 300px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
#searchboxcontent:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
#searchboxcontent::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
#searchboxcontent:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
#searchboxcontent:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
#searchbutton {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background-color: #E20048;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
#searchbutton:hover{     
    background: #e54040;
}   
   
#searchbutton:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
#searchbutton:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
#searchbutton:hover:before{
    border-right-color: #e54040;
}
 
#searchbutton:focus:before,
#searchbutton:active:before{
        border-right-color: #c42f2f;
}      
 
#searchbutton::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    #searchdiv {
	clear: both;
}
#searchbox {
	float: right;
	/* [disabled]left: 25px;
	/* [disabled]right: 20px; */
	/* [disabled]padding-right: 20px; */
	margin-right: 20px;
	padding-top: 5px;
}

/* RSS reader CSS*/
.smarticker{
	width: 100%;
	background: #fff;
	margin: 0 auto;
	direction: ltr;
}

.box{
	min-height:30px;
	background: #fff;
	overflow: auto;
}

.border{
	border:1px solid #ccc;
}

.rounded{
	border-radius: 20px;
}

.shadow{
	box-shadow: 0px 0px 5px #999;
}

.size1{
	height: 30px;
	overflow: hidden;
}

.smarticker .sec1, .smarticker .sec1-2, .smarticker .sec2, .smarticker .sec3, .smarticker .sec4, .smarticker .sec5, .smarticker .sec6, .smarticker .sec7{
	float: left;
}

.smarticker .sec1{
	width: 10%;
}

.smarticker .sec1-2{
	width: 15%;
}

.smarticker .sec2{
	width: 20%;
}

.smarticker .sec3{
	width: 33.333%;
}

.smarticker .sec4{
	width: 25%;
}

.smarticker .sec5{
	width: 50%;
}

.smarticker .sec6{
	width: 60%;
}

.smarticker .sec7{
	width: 70%;
}

.smarticker ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.smarticker .smarticker-cats, .smarticker-cats .catlist, .smarticker .smarticker-category, .smarticker .smarticker-news{
	height: 100%;
	overflow: hidden;
}

.smarticker .smarticker-cats, .smarticker .smarticker-category{
	text-align: center;
}

.smarticker li{
	height: 30px;
	line-height: 28px;
}

.smarticker a{
	text-decoration: none;
}

.smarticker .smarticker-news{
	text-align: left;
	position: relative;
}

.smarticker .smarticker-news ul{
	margin-left: 15px;
	display: none;
}

.smarticker .smarticker-news ul li{
	position: absolute;
	display: none;
	height: 100%;
	top: 0px;
}

.smarticker-category a{
	font-size: 16px;
}

.cover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	float: right;
}

.flasher{
	width:10px;
	height:100%;
	line-height:28px;
	margin-left:5px;
	float:left;
}

.smart-controller{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	z-index: 3;
}




/* ---------- Theme 1 ----------- */

.theme1{
	background: #fff;
}

.theme1 .smarticker-news a{
	color: #666;
	font-family: Calibri, Tahoma;
	font-size: 12px;
}

.theme1 .smarticker-cats{
	position: relative;
	background: #999;
}

.theme1 .smarticker-cats .left{
	position: absolute;
	left: 0px;
	background: url('../images/left-flc-w.png') no-repeat right center;
	width: 20%;
	height: 100%;
}

.theme1 .smarticker-cats .right{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background: url('../images/right-flc-w.png') no-repeat right center;
	width: 20%;
	height: 100%;
}

.no-category .smarticker-cats .left{
	display: none;
}

.theme1 .smarticker-cats a{
	color: #fff;
	text-decoration: none;
	font-family: Calibri, Tahoma;
	font-weight: bold;
	font-size: 14px;
}

.theme1 .smarticker-category a{
	color: #999;
	text-decoration: none;
	font-weight: bold;
	font-family: Calibri, Tahoma;
}

.theme1 .flasher{
	color:#666;
}

.smarticker-cats li{
	background-color:#c3c3c3;
}


/* ------------- Theme 2 ------------ */
.theme2{
	background: #333;
}

.theme2 .smarticker-news a{
	color: #fff;
	font-family: Calibri, Tahoma;
	font-size: 12px;
}

.theme2 .smarticker-cats{
	position: relative;
	background: #999;
}

.theme2 .smarticker-cats .left{
	position: absolute;
	left: 0px;
	background: url('../images/left-flc-b.png') no-repeat right center;
	width: 20%;
	height: 100%;
}

.theme2 .smarticker-cats .right{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	background: url('../images/right-flc-b.png') no-repeat right center;
	width: 20%;
	height: 100%;
}

.no-category .smarticker-cats .left{
	display: none;
}

.theme2 .smarticker-cats ul a{
	color: #fff;
	text-decoration: none;
	font-family: Calibri, Tahoma;
	font-weight: bold;
	font-size: 14px;
}

.theme2 .smarticker-category a{
	color: #ccc;
	text-decoration: none;
	font-weight: bold;
	font-family: Calibri, Tahoma;
}

.theme2 .flasher{
	color:#fff;
}

.theme2 .tickertitle{
	background-color:#4575d4;
}

/* ------------- Theme 3 ------------ */
.theme3{
	background: #333;
}

.theme3 .smarticker-news a{
	color: #fff;
	font-family: Calibri, Tahoma;
	font-size: 12px;
}

.theme3 .smarticker-cats{
	position: relative;
	background: #fff;
}

.theme3 .smarticker-cats .left, .theme3 .smarticker-cats .right{
	display: none;
}

.theme3 .smarticker-cats a{
	color: #fff;
	text-decoration: none;
	font-family: Calibri, Tahoma;
	font-weight: bold;
	font-size: 14px;
}

.theme3 .smarticker-category a{
	color: #ccc;
	text-decoration: none;
	font-weight: bold;
	font-family: Calibri, Tahoma;
}

.theme3 .flasher{
	color:#fff;
}

.theme3 .tickertitle{
	background-color:#cd0074;
}

/* ------------- Theme 4 ------------ */
.theme4{
	background: #fff;
}

.theme4 .smarticker-news a{
	color: #666;
	font-family: Calibri, Tahoma;
	font-size: 12px;
}

.theme4 .smarticker-cats{
	position: relative;
	background: #999;
}

.theme4 .smarticker-cats .left, .theme4 .smarticker-cats .right{
	display: none;
}

.theme4 .smarticker-cats a{
	color: #fff;
	text-decoration: none;
	font-family: Calibri, Tahoma;
	font-weight: bold;
	font-size: 14px;
}

.theme4 .smarticker-category a{
	color: #999;
	text-decoration: none;
	font-weight: bold;
	font-family: Calibri, Tahoma;
}

.theme4 .flasher{
	color:#666;
}

.theme4 .tickertitle{
	background-color:#00b64f;
}

/* ----------- Text Controller ------------ */
.c1 .smart-controller span{
	text-align: center;
	background: #fff;
	color: #ccc;
	font-size: 11px;
	display: block;
	padding: 9px 9px;
	font-family: Calibri, Tahoma;
	float: left;
	border-left: 1px solid #eee;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.c1 .smart-controller span:hover{
	color: #bbb;
	background: #efefef;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.c1 .smart-controller span:active{
	color: #999;
	background: #dfdfdf;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

/* ----------- C2 Controller = Icons ------------ */
.c2 .smart-controller span{
	text-align: center;
	background-color: transparent;
	background-image:  url('../images/controller.png');
	background-repeat: no-repeat;
	color: #ccc;
	text-indent: -100000px;
	font-size: 11px;
	display: block;
	padding: 9px 12px;
	font-family: Calibri, Tahoma;
	float: left;
	border-left: 1px solid #eee;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.theme3.c2 .smart-controller span, .theme2.c2 .smart-controller span{
	border-left: 1px solid #999;
}

.c2 .smart-controller span:hover{
	color: #bbb;
	background-color: transparent;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.c2 .smart-controller span:active{
	color: #999;
	background-color: transparent;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

.c2 .next-news:active, .c2 .next-news:hover{
	background-position: right center;
	background-image: url('../images/controller.png');
	background-repeat: no-repeat;
}

.c2 .prev-news:active, .c2 .prev-news:hover{
	background-position: left center;
	background-image: url('../images/controller.png');
	background-repeat: no-repeat;
}

.c2 .prev-news{
	background-position: left center;
}

.c2 .next-news{
	background-position: right center;
}

.progress-bar{
	width:100%;
	height:2px;
	background-color:#eee;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:3;
}

.no-subcategory .smarticker-category{
	border-right: 1px solid #ccc;
	background: #eee;
}

.tickertitle{
	height:100%;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	background-color:#e20048;
	color:#fff;
}
#contentmiddle {
	width: 75%;
	border-color: #F70105;
	border-style: solid;
	/* [disabled]display: inline-block; */
	margin-left: auto;
	clear: both;
	margin-right: auto;
}
#companyInfo {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	color: #E20048;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-size: xx-large;
	height: 43px;
}
#secondgraph {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 14px;
	color: #040404;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	clear: left;
	display: inherit;
}



/* Menu stuff */
#nav, #nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav #toggleMenu, #nav #hideMenu {
	display: none;
}

/* The main navigation bar */
#nav {
	position: relative;
	display: block;
	height: 44px;
	width: 100%; /* The menu will take the width of its container */
	border-radius: 3px;
	background-color: rgba(0,0,0,0.05);
	margin-left: auto;
	margin-right: auto;
}

#nav>li {
	display: block;
	float: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* The main navigation links */
#nav>li>a {
	/* Layout */
	display: block;
	padding: 13px 22px;
	border-color: #fff;
	/* Typography */
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #A8A7A7;
	text-transform: uppercase;
	text-decoration: none;
	/* Transitions */
	-webkit-transition: color .2s ease-in, border-top-color .2s ease-in;
	-ms-transition: color .2s ease-in, border-top-color .2s ease-in;
	-moz-transition: color .2s ease-in, border-top-color .2s ease-in;
	-o-transition: color .2s ease-in, border-top-color .2s ease-in;
	transition: color .2s ease-in, border-top-color .2s ease-in;
	margin-left: auto;
	margin-right: auto;
}

/* The hover state of the links */
#nav>li:hover>a {
	color: #E20048;
	border-top-color: #E20048;
}

#nav>li.dropdown>a {
	padding-right: 28px;
}
